{% extends 'admin/admin_index.html' %}
{% block body %}
    {% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="background-color: #0b6bd3;color: black">
      <th scope="col">Sl.No</th>
      <th scope="col">Consumer Info</th>
      <th scope="col">Rate</th>
      <th scope="col">Date</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.name }}</td>
{#      <td>&nbsp;{{ i.rating }}</td>#}
        <td>
        {% for j in i.rate %}
           <img src="{% static '/design/star/full.jpg' %}" height="20" width="20" />
        {% endfor %}
        {% for j in i.norate %}
           <img src="{% static '/design/star/empty.jpg' %}" height="20" width="20" />
        {% endfor %}
      </td>
      <td>&nbsp;{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
